@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-display), sans-serif;
}
